@page "/"

<div>
    <div class="card-header">
        <h1>Todo List</h1>
    </div>

    @if (todos.Count == 0)
    {
        <p class="">No todos found</p>
    }
    else
    {
        <div class="card-body">
            <div class="row">
                @foreach (var todo in todos)
                {
                    <SingleTodo tododto="todo" OnRemoveTodo="RemoveTodo" OnEditTodo="EditTodo" />
                }
            </div>
        </div>
    }
    <div>
    </div>
    @if (selectedTodo != null)
    {
        <AddTodo OnEditTodo="EditTodo" EditTodoProp="selectedTodo" />
    }
    else
    {
        <AddTodo OnAddTodo="AddTodo" OnEditTodo="EditTodo" />
    }
</div>

@code {
    private List<TodoDto> todos = new List<TodoDto>
    {
        new TodoDto
    {
        Id = Guid.NewGuid(),
        Title = "Buy Groceries",
        Description = "Purchase fruits, vegetables, and milk for the week.",
        Priority = "Low",
        IsDone = false,
        Created = DateTime.Now
    },
    new TodoDto
    {
        Id = Guid.NewGuid(),
        Title = "Finish Project Cars",
        Description = "Complete the final project of the cars manuals for submission.",
        Priority = "Medium",
        IsDone = false,
        Created = DateTime.Now
    },
    
    };

    private TodoDto selectedTodo;

    public void AddTodo(TodoDto todo)
    {
        this.todos.Add(todo);
    }

    public void EditTodo(TodoDto todo)
    {
        selectedTodo = todo;
    }

    public void RemoveTodo(Guid id)
    {
        this.todos.RemoveAll(t => t.Id == id);
    }
}
