@page "/todolist"

@inject TODO_Web.Services.TodoService todoService

<h3>Todo List</h3>

<ul>
    @foreach (var item in todoService.GetTodoItems())
    {
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            @item.Title
        </li>
    }
</ul>

<h3>Add Todo Item</h3>

<TodoItemForm OnAddTodoItem="AddTodoItem" />

@code {
    private void AddTodoItem(TodoItem newItem)
    {
        
        newItem.Id = todoService.GetTodoItems().Max(i => i.Id) + 1;
        todoService.GetTodoItems().Add(newItem);
    }
}
